body {
  font-family: 'Arial', sans-serif;
  background-color: #fce4ec;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
  cursor: url('snapedit_1709554354175.png'), auto;
  background: linear-gradient(120deg, #f48fb1, #81d4fa);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
 }
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
/* Прелоадер */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
/* Видео-фон */
.video-bg video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
/* Анимация сердечек */
.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  animation: pop 1s;
}
@keyframes pop {
  from { transform: scale(0); }
  to { transform: scale(2); opacity: 0; }
}
/* Навигация */
nav img {
  width: 50px;
  margin: 10px;
  transition: transform 0.3s;
}
nav img:hover {
  transform: scale(1.2);
}
/* Секретное сообщение */
#secret-message {
  font-size: 24px;
  color: #d81b60;
}
/* Плавающие частицы */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}